<div class="vibe-form-container">
    <a href="/vibes/dashboard">Voltar</a>

    <h1>Criando uma vibe:</h1>

    <form action="/vibes/add" method="post">
        <div class="form-control">
            <label for="title">Vibe:</label>
            <input type="text" name="title" placeholder="Digite a sua vibe...">
        </div>

        <input type="submit" value="Criar Vibe">
    </form>
</div>