<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>

        <a href="/vibes/add" class="btn">Criar vibe</a>
    </div>

    <h3>Suas vibes</h3>

    <ul>
        {{#each vibes}}
            <li>{{this.title}}</li>
        {{/each}}
    </ul>
</div>