<div class="vibe-form-container">
    <a href="/vibes/dashboard">Voltar</a>

    <h1>Editando uma vibe:</h1>

    <form action="/vibes/edit" method="post">
        <input type="hidden" name="id" value="{{vibe.id}}">
        <div class="form-control">
            <label for="title">Vibe:</label>
            <input type="text" name="title" placeholder="Digite a sua vibe..." value="{{vibe.title}}">
        </div>

        <input type="submit" value="Editar Vibe">
    </form>
</div>